<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
<table style="border: 0;">
  <tr>
    <td><strong>Olá <%= @name %></strong></td>
  </tr>

  <tr>
    <td><span>Para confirmar seu usuário, só clicar no botão abaixo: ".</span></td>
  </tr>

  <tr>
    <td>
      <% if Rails.env.development? %>
        <a style="display: flex;padding: 8px;border-radius: 4px;text-decoration: none;font-family: 'Roboto', sans-serif;font-size: 14px;margin-top: 12px;margin-bottom: 12px;color: #FFFFFF;background-color: #00b300;" href="<%= "http://localhost:3000/confirm_user?token=#{@token}"%>" target="_blank"><strong>Confirmar usuário</strong></a>
      <% else %>
        <a style="display: flex;padding: 8px;border-radius: 4px;text-decoration: none;font-family: 'Roboto', sans-serif;font-size: 14px;margin-top: 12px;margin-bottom: 12px;color: #FFFFFF;background-color: #00b300;" href="<%= "http://localhost:3000/confirm_user?token=#{@token}"%>" target="_blank"><strong>Confirmar usuário</strong></a>
      <% end %>
    </td>
  </tr>
</table>
</body>
</html>